<%- include('partials/header') -%>

<h1 class="text-4xl mb-4">Welcome <strong><%= username %> </strong></h1>

<p class="py-3">
  Content of <code class="bg-gray-200">req.user</code>.<br />
</p>

<p>
  Email: <%= email %><br />
  Name: <%= name %>
</p>
<br />

<%- include('partials/footer') -%>